%h1
  %a{ href: - @game.bgg_link }
    = @game.name
- @game.attributes.keys.each do |attr|
  %p
    %strong= attr.titlecase
    = @game.send(attr)
%h3
  Expansions
%ul
  - @expansions.each do |exp|
    %li
      %a{ href: - exp.bgg_link }
        = exp.name
